
@using HaberinOlsun.Entity
@using HaberinOlsun.BLL

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>@ViewBag.Title - My ASP.NET Application</title>
	<link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
	<link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
	<script src="~/Scripts/modernizr-2.6.2.js"></script>


	<meta name="description" content="">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	<!-- Title -->
	<title>Mag - Video &amp; Magazine HTML Template</title>
    <!-- Favicon -->
	<link rel="icon" href="~/Content/img/core-img/favicon.ico">
	<!-- Stylesheet -->
	<link href="~/Content/style.css" rel="stylesheet" />

</head>
<body>
@{

	KategoriBLL kategoribll = new KategoriBLL();
	List<Kategori> kategori = kategoribll.GetKategoriler();

 }
	

	<!-- ##### Header Area Start ##### -->
	<header class="header-area">

		<!-- Navbar Area -->
		<div class="mag-main-menu" id="sticker">
			<div class="classy-nav-container breakpoint-off">
				<!-- Menu -->
				<nav class="classy-navbar justify-content-between" id="magNav">

					<!-- Nav brand -->
					<a href="/Home/AnaSayfa" class="nav-brand"><img style="width:160px;height:100px;"  src="~/Content/img/core-img/loogo.png" alt=""></a>

					<!-- Navbar Toggler -->
					<div class="classy-navbar-toggler">
						<span class="navbarToggler"><span></span><span></span><span></span></span>
					</div>

					<!-- Nav Content -->
					<div class="nav-content d-flex align-items-center">
						<div class="classy-menu">

							<!-- Close Button -->
							<div class="classycloseIcon">
								<div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
							</div>

							<!-- Nav Start -->
							<div class="classynav">
								<ul>
									@foreach (Kategori item in kategori)
									{
										<li><a href="/Kategori/Kategori/@item.KategoriId">@item.Adi</a></li>
									}


									<li> <a href="/Cnn/Index">CNN HABERLERİ</a></li>
								</ul>
							</div>
							<!-- Nav End -->
						</div>

						<div class="top-meta-data d-flex align-items-center">
							<!-- Top Search Area -->
							<div class="top-search-area">
								<form action="index.html" method="post">
									<input type="search" name="top-search" id="topSearch" placeholder="Ara..">
									<button type="submit" class="btn"><i class="fa fa-search" aria-hidden="true"></i></button>
								</form>
							</div>
							<!-- Login -->
							<a href="login.html" class="login-btn"><i class="fa fa-user" aria-hidden="true"></i></a>
							<!-- Submit Video -->
						</div>
					</div>
				</nav>
			</div>
		</div>
	</header>
	<!-- ##### Header Area End ##### -->


	
		@RenderBody()

	<!-- ##### Footer Area Start ##### -->
	<footer class="footer-area">
		<div class="container">
			<div class="row">
				<!-- Footer Widget Area -->
				<div class="col-12 col-sm-6 col-lg-3">
					<div class="footer-widget">
						<!-- Logo -->
						<a href="index.html" class="foo-logo"><img style="width:160px;height:100px"; src="~/Content/img/core-img/loogo.png" alt=""></a>
					</div>
				</div>

				<!-- Footer Widget Area -->
				<div class="col-12 col-sm-6 col-lg-3">
					<div class="footer-widget">
						<h6 class="widget-title">Haber Kategorileri</h6>
						<nav class="footer-widget-nav">
							<ul>
								@foreach (Kategori item in kategori)
								{
								<li><a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i> </a>@item.Adi</li>

								}

							</ul>
						</nav>
					</div>
				</div>

				<!-- Footer Widget Area -->
				<div class="col-12 col-sm-6 col-lg-3">
					<div class="footer-widget">
						<h6 class="widget-title">Top 10</h6>
					</div>
				</div>
				<!-- Footer Widget Area -->
				<div class="col-12 col-sm-6 col-lg-3">
					<div class="footer-widget">
						<h6 class="widget-title">Hakkımızda</h6>
					</div>
				</div>
			</div>
		</div>
		<!-- Copywrite Area -->
		<div class="copywrite-area">
			<div class="container">
				<div class="row">
					<!-- Copywrite Text -->
					<div class="col-12 col-sm-6">
						<p class="copywrite-text">
							<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
							Copyright &copy;
							<script>document.write(new Date().getFullYear());</script> Tüm Hakları NakliyeciBull'a aittir.. <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="http://nakliyecibull.com/" target="_blank">NakliyeciBull</a>
							<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
						</p>
					</div>
				</div>
			</div>
		</div>
	</footer>
	<!-- ##### Footer Area End ##### -->
	<!-- ##### All Javascript Script ##### -->
	<!-- jQuery-2.2.4 js -->
	<script src="~/Content/js/jquery/jquery-2.2.4.min.js"></script>
	<!-- Popper js -->
	<script src="~/Content/js/bootstrap/popper.min.js"></script>
	<!-- Bootstrap js -->
	<script src="~/Content/js/bootstrap/bootstrap.min.js"></script>
	<!-- All Plugins js -->
	<script src="~/Content/js/plugins/plugins.js"></script>
	<!-- Active js -->
	<script src="~/Content/js/active.js"></script>
	<script src="~/Scripts/jquery-1.10.2.min.js"></script>
	<script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>