@model List<HaberinOlsun.Entities.Yazarlar>


<div class="post-sidebar-area right-sidebar mt-30 mb-30 bg-white box-shadow">
    <!-- Sidebar Widget -->
    <div class="single-sidebar-widget p-30">
        <!-- Section Title -->
        <div class="section-heading">
            <h5>KÖŞE YAZARLARI</h5>
        </div>
        @foreach (var item in Model)
        {
            <!-- Single Blog Post -->
            <div class="single-blog-post d-flex">
                <div class="post-thumbnail">
                    <img src="@item.ResimURL" alt="">
                </div>
                <div class="post-content">
                    <a href="single-post.html" class="post-title">@item.AdiSoyadi</a>
                    <div class="post-meta d-flex justify-content-between">
                        <a href="#"><i class="fa fa-eye" aria-hidden="true"></i> 34</a>
                    </div>
                </div>
                }
            </div>
        }
    </div>

    <!-- Sidebar Widget -->
    <div class="single-sidebar-widget">
        <a href="#" class="add-img"><img src="/img/bg-img/add.png" alt=""></a>
    </div>


</div>
