@using HaberinOlsun.ENTITY
@using HaberinOlsun.PublicUI.Models
@model List<KoseYazilari>

@{
    ViewBag.Title = "Detay";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section>
    <div class="container">
        <h4 class="p-title"><b>Yazarın Diğer Yazıları</b></h4>
        <div class="row">
            @foreach (KoseYazilari item in Model)
            {
                <div class="accordian">
                    <h5>
                        <a data-accordian="#accordian-@item.YaziId" class="a-title" href="#">
                            <b>@item.Ozet</b><i class="ion-plus"></i>
                        </a>
                    </h5>

                    <div class="a-body" id="accordian-@item.YaziId">
                        <div class="a-body-inner">
                            <p>
                                @item.Detay
                            </p>
                            @Html.Partial("~/Views/Yorum/YorumPartialView.cshtml", new YorumModel { Id = item.YaziId, Tip = "Yazı" })
                        </div><!-- a-body-inner -->
                    </div><!-- a-body -->
                </div><!-- accordian -->
            }
        </div>
    </div><!-- container -->
</section>



