@using HaberinOlsun.Entity
@using HaberinOlsun.PublicUI.Models
@model List<KoseYazilari>

<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="icon" href="img/core-img/favicon.ico">
    <link href="~/css/style.css" rel="stylesheet" />

</head>

<body>
    <div class="blog-area section-padding-0-80">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-8">
                    <div class="blog-posts-area">
                        <div class="single-blog-post featured-post single-post">
                            @foreach (KoseYazilari item in Model.OrderByDescending(x => x.Tarih))
                            {
                                <div class="post-data">
                                    <a href="#" class="post-title">
                                        <h6>@item.Ozet</h6>
                                    </a>
                                    <div class="post-meta">
                                        <p class="post-author">By <a href="#">@item.Yazarlar.AdiSoyadi</a></p>
                                        <p>@item.Detay</p>
                                    </div>
                                </div>
                                <hr />
                                @Html.Partial("~/Views/Shared/_yorum.cshtml", new HaberYorumModel { ID = item.ID, Tipi = "Yazi" })
                                <hr />
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="~/js/jquery/jquery-2.2.4.min.js"></script>
    <script src="~/js/bootstrap/popper.min.js"></script>
    <script src="~/js/bootstrap/bootstrap.min.js"></script>
    <script src="~/js/plugins/plugins.js"></script>
    <script src="~/js/active.js"></script>
</body>
</html>
