@using Haberci.DAL
@model Haberler
@{
    ViewBag.Title = "HaberDetails";
    Layout = "~/Views/shared/_LayoutPageHome.cshtml";
}

<h2 style="text-align:center">Haberin Kaynağına hoşgeldiniz </h2>
<br />
<br />
<br />
<br />
<br />
<div class="row">
<div class="col-8 " style="text-align:center ; float:left;">
    <br />
    <img src=" @Model.ResimURL" />
   


    </div>
    <div class="col-4" >
        @Model.Tarih
        <br />
        <br />
        <b style="font-family:'Comic Sans MS'"> 
            @Model.Detay
        </b>

    </div>
</div>