@using Haberci.DAL
@model Haberler
@{
    ViewBag.Title = "HaberDetails";
    Layout = "~/Views/shared/_LayoutPageHome.cshtml";
}

<h2 style="text-align:center">Haberin Kaynağına hoşgeldiniz </h2>
<br />
<br />
<br />







<h3 style="font:bold ; border:1px; padding-left:15px;">
   
    @Model.Detay
</h3>
<hr />

<br />
<br />



