@*@model IEnumerable<Haberci.DAL.KoseYazilari>*@

@using Haberci.DAL
@model  List<KoseYazilari>

@{
    ViewBag.Title = "Koseyazilari";
    Layout = "~/Views/shared/_LayoutPageHome.cshtml";
}



<div class="row">
    <h2 style="text-align:center">Sizler için usta kalemlerin araştırmaları  sonucu düzenlenmiş köşe yazılarımıza hoşgeldiniz </h2>

    <div class="col-3 "> 
    @Html.Partial("~/Views/koseyazıilaripartialView.cshtml")
    </div>
    

    <div class="col-9">
        @foreach (var item in Model)
        {
        <p style="padding-top:30px">
           @item.Yazarlar.AdiSoyadi Adli kişinin köşe yazıları <br />
            <hr />


            @item.Detay <br />
            <hr />

        </p> 
        }
        </div>
</div>









