@using HaberinOlsun.BLL
@using HaberinOlsun.Entity

@{
    KoseyazilariBLL koseyazilariBLL = new KoseyazilariBLL();
    YazarlarBLL yazarlarBLL = new YazarlarBLL();

    List<Yazarlar> yazarlar = yazarlarBLL.GetYazarlar();
}

<div class="post-sidebar-area left-sidebar mt-30 mb-30 bg-gray box-shadow">
    <div class="single-sidebar-widget p-30">
        <h1 style="background-color:#451057;color:white">KÖŞE YAZILARI</h1>
        <ul>
            @foreach (Yazarlar item in yazarlar)
            {
                <li style="border:groove; color:antiquewhite">
                    <img src=@item.ResimURL>
                    @foreach (KoseYazilari item1 in item.KoseYazilaris.Take(1))
                    {
                        <div class="author" style="text-align:center"><a href="/Home/KoseYazariDetay/@item1.YazarId"><h2>@item.AdiSoyadi</h2></a></div>
                        <div class="article" style="text-align:center">
                            <a href="/Home/KoseYazariDetay/@item1.YazarId">
                                @item1.Ozet
                            </a>
                        </div>
                    }
                </li>

            }
        </ul>
    </div>
</div>


