@using HaberinOlsun.PublicUI1.Models
@using HaberinOlsun.DAL
@using HaberinOlsun.BLL
@model YorumModel

<div class="newsletter-form">


    @if (Model.Tipi == "Haber")
    {
        @ViewBag.tipi= "Haber";
<form action="/Yorum/Yorumyap/@Model.ID" method="post">
    <input type="text" name="Gönderen" placeholder="Lutfen Adınızı Giriniz">
    <input type="text" name="Yorum" placeholder="Yorum">


    <button type="submit" class="btn mag-btn w-100">YORUM YAP</button>
</form>
}
else
{
@ViewBag.tipi= "Yazı";
<form action="/Yorum/Yorumyap/@Model.ID" method="post">
    <input type="text" name="Gönderen" placeholder="Lutfen Adınızı Giriniz">
    <input type="text" name="Yorum" placeholder="Yorum">

    <button type="submit" class="btn mag-btn w-100">YORUM YAP</button>
</form>
}
</div>

