@using HaberinOlsun.BLL
@using HaberinOlsun.DAL


@{ 
    List<Kategori> kategoriler = KategoriBLL.GetKAtegori();
}


<div class="single-sidebar-widget p-30">
        <!-- Section Title -->
        <div class="section-heading">
            <h5>Categories</h5>
        </div>

        <!-- Catagory Widget -->

    
        @foreach (Kategori item in kategoriler)
        {
            <ul class="catagory-widgets">
                <li><a href="/Kategori/kategoriHaberleri/@item.KategoriID"><span><i class="fa fa-angle-double-right" aria-hidden="true"></i> @item.Adi</span> <span>@kategoriler.GroupBy(x=>x.KategoriID).Count()</span></a></li>
            </ul>
        }


    </div>