
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
<main class="site-main">
@Html.Partial("~/Views/PartialView/Banner.cshtml")
@Html.Partial("/Views/PartialView/Slider.cshtml")
</main>