@{
    ViewBag.Title = "Home Page";
}
<style>
    .carousel-inner > .item > img, .carousel-inner > .item > a > img {
        width: 100%;
        height: 500px;
    }

    .carousel-caption {
        background-color: lightgray;
    }

    .carousel-inner {
        text-align: left;
    }
</style>

<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
        <li data-target="#myCarousel" data-slide-to="4"></li>
        <li data-target="#myCarousel" data-slide-to="5"></li>
        <li data-target="#myCarousel" data-slide-to="6"></li>
        <li data-target="#myCarousel" data-slide-to="7"></li>
        <li data-target="#myCarousel" data-slide-to="8"></li>
        <li data-target="#myCarousel" data-slide-to="9"></li>
    </ol>
    <div class="carousel-inner">
        <div class="item active">
            <img src="https://www.afyonhaber.com/images/haberler/2019/05/eski-milletvekili-sait-acba-dan-rektor-karakas-a-ziyaret_ma.jpg">
            <div class="carousel-inner">
                <h3>ESKİ MİLLETVEKİLİ SAİT AÇBA'DAN REKTÖR KARAKAŞ'A ZİYARET</h3>
                <p>20, 21, 22 ve 23. Dönem Afyonkarahisar Milletvekili Prof. Dr. Sait Açba, Afyon Kocatepe Üniversitesi (AKÜ) Rektörü Prof. Dr. Mehmet Karakaş’ı ziyaret etti.</p>
            </div>
        </div>
        <div class="item">
            <img src="https://www.afyonhaber.com/images/haberler/2019/05/aku-de-yayli-calgilar-konseri_ma.jpg">
            <div class="carousel-inner">
                <h3>AKÜ'DE YAYLI ÇALGILAR KONSERİ</h3>
                <p>Afyon Kocatepe Üniversitesi (AKÜ) Devlet Konservatuvarı  Müzik Bölümü Yaylı Çalgılar Anasanat Dalı öğrencileri tarafından yaylı çalgılar konseri gerçekleştirildi.</p>
            </div>
        </div>
        <div class="item">
            <img src="https://www.afyonhaber.com/images/haberler/2019/05/merkez-anaokullarindan-sifir-atik-sergisi_ma.jpg">
            <div class="carousel-inner">
                <h3>MERKEZ ANAOKULLARINDAN SIFIR ATIK SERGİSİ</h3>
                <p>TOKİ Fatma Aliye Hanim, Asım Kocabıyık ve Emine Efiloğlu Anaokullarımızın yürüttüğü Eko Okul Projesi kapsamında 11.05.2019 Cumartesi gününde veli, öğretmen ve çocuklarımızın yıl boyu yaptıkları çalışmaların sergilendiği ve yine bu kapsamda velilerin atık materyallerden yaptıkları kostümlerin sergilendiği bir Sıfır Atık çalışması gerçekleştirildi.</p>
            </div>
        </div>
        <div class="item">
            <img src="https://www.afyonhaber.com/images/haberler/2019/05/zubeyde-hanim-mtal-den-temel-tasarim-sergisi_ma.jpg">
            <div class="carousel-inner">
                <h3>ZÜBEYDE HANIM MTAL'DEN TEMEL TASARIM SERGİSİ</h3>
                <p>Afyonkarahisar Zübeyde Hanım Mesleki ve Teknik Anadolu Lisesi Grafik ve Tasarım Alanı öğretmeni ve 10.sınıf öğrencilerinin hazırlamış olduğu “TEMEL TASARIM” sergimizin açılışı İl Milli Eğitim Müdürümüz Metin Yalçın tarafından gerçekleştirildi.</p>
            </div>
        </div>
        <div class="item">
            <img src="https://www.afyonhaber.com/images/haberler/2019/05/sumer-ve-fakipasa-sakinlerine-iftar-daveti_ma.jpg">
            <div class="carousel-inner">
                <h3>SÜMER VE FAKIPAŞA SAKİNLERİNE İFTAR DAVETİ</h3>
                <p>Belediye Başkanı Mehmet Zeybek, Afyonkarahisar Belediyesi tarafından geleneksel olarak düzenlenen mahalle iftar programları çerçevesinde, Sümer ve Fakıpaşa Mahallesi sakinleriyle buluştu.   </p>
            </div>
        </div>
        <div class="item">
            <img src="https://www.afyonhaber.com/images/haberler/2019/05/dunya-f-klavye-sampiyonu-afyonlu-cocuklar-yeniden-dunya-kupasina-hazirlaniyor_ma.jpg">
            <div class="carousel-inner">
                <h3>DÜNYA F KLAVYE ŞAMPİYONU AFYONLU ÇOCUKLAR, YENİDEN DÜNYA KUPASINA HAZIRLANIYOR</h3>
                <p>Dünya F Klavye Şampiyonası’nda verilen toplamda 24 madalyanın 12’sini Türkiye kazanırken, bunların 7’si de Afyonkarahisar’a geldi. Şampiyon öğrenciler İtalya’da yapılacak olan Dünya Şampiyonası’na hazırlanıyorlar.</p>
            </div>
        </div>
        <div class="item">
            <img src="https://www.afyonhaber.com/images/haberler/2019/05/vali-mustafa-tutulmaz-in-aile-haftasi-mesaji_ma.png">
            <div class="carousel-inner">
                <h3>VALİ MUSTAFA TUTULMAZ’IN AİLE HAFTASI MESAJI</h3>
                <p>Toplumun en temel yapı taşı ailedir. Doğup, büyür ve hayatımızın önemli bir bölümünü ailemizin yanında geçiririz. Bu zaman dilimi de aslında bizim nasıl bir insan olacağımızı da belirler.</p>
            </div>
        </div>
        <div class="item">
            <img src="https://www.afyonhaber.com/images/haberler/2019/05/her-gun-5000-kisiye-iftar-yemegi-veriliyor_ma.jpg">
            <div class="carousel-inner">
                <h3>HER GÜN 5000 KİŞİYE İFTAR YEMEĞİ VERİLİYOR</h3>
                <p>Afyonkarahisar Belediyesi, Ramazan boyunca iftar çadırları ve dağıtım noktalarında her gün 5 bin kişiye iftar yemeği veriyor.</p>
            </div>
        </div>
        <div class="item">
            <img src="https://www.afyonhaber.com/images/haberler/2019/05/ak-parti-yerel-yonetimler-baskan-yardimcisindan-baskan-zeybek-e-ziyaret_ma.jpg">
            <div class="carousel-inner">
                <h3>AK PARTİ YEREL YÖNETİMLER BAŞKAN YARDIMCISINDAN BAŞKAN ZEYBEK'E ZİYARET</h3>
                <p>AK Parti Yerel Yönetimlerden Sorumlu Başkan Yardımcısı Abdurrahman Öz, Belediye Başkanı Mehmet Zeybek’i makamında ziyaret etti.</p>
            </div>
        </div>
        <div class="item">
            <img src="https://www.afyonhaber.com/images/haberler/2019/05/engelliler-meclisi-ziyaretlerine-devam-ediyor_ma.jpg">
            <div class="carousel-inner">
                <h3>ENGELLİLER MECLİSİ ZİYARETLERİNE DEVAM EDİYOR..</h3>
                <p>10/16 Mayıs engelliler haftası münasebetiyle Belediye Kent Konseyi Engelliler Meclisi ziyaretlerine hız kesmeden devam ediyor.</p>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
        <span class="sr-only">Next</span>
    </a>
</div>


