@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .carousel-inner > .item > img, .carousel-inner > .item > a > img {
        width: 100%;
        height: auto;
    }

    .carousel-caption {
        background-color: lightgray;
    }

    .carousel-inner {
        text-align: left;
    }

</style>

@{ Html.RenderAction("HaberGetir");}
<br />
<br />
<header style="font-size:medium"><b>Döviz</b></header>
<div class="row" style="font-style:italic;font-size:medium">
    <div class="col-sm-3">
        <img src="https://i.sozcu.com.tr/wp-content/themes/Sozcu_V3/assets/images/icons/doviz-hesapla/usa.png" height="44">
        <b>Dolar 6.0729 TL</b>
    </div>
    <div class="col-sm-3">
        <img src="https://i.sozcu.com.tr/wp-content/themes/Sozcu_V3/assets/images/icons/doviz-hesapla/usa.png" height="44">
        <b>Dolar 6.0729 TL</b>
    </div>
    <div class="col-sm-3">
        <img src="https://i.sozcu.com.tr/wp-content/themes/Sozcu_V3/assets/images/icons/doviz-hesapla/usa.png" height="44">
        <b>Dolar 6.0729 TL</b>
    </div>
    <div class="col-sm-3">
        <img src="https://i.sozcu.com.tr/wp-content/themes/Sozcu_V3/assets/images/icons/doviz-hesapla/usa.png" height="44">
        <b>Dolar 6.0729 TL</b>
    </div>
</div>
<br />
<br />
    <div class="row">
        <div class="col-sm-5">@{ Html.RenderAction("GündemGetir");}</div>

        <div class="col-sm-4">@{ Html.RenderAction("EkonomiGetir");}</div>

        <div class="col-sm-3">@{ Html.RenderAction("YazarGetir");}</div>
    </div>
<br />
<br />

<br />
<br />

@{ Html.RenderAction("AllNews");}

@*<div class="row" style="box-sizing:border-box">
        <div class="col-lg-4">
            <div class="news-box" style="border:hidden;background-color:white">
                <a href="https://skor.sozcu.com.tr/2019/05/15/kritik-trabzonspor-besiktas-maci-biletleri-satisa-cikti-1251173/" data-sliderindex="211" data-sitename="amkspor" data-postid="1251173" title="Kritik Trabzonspor Beşiktaş maçı biletleri satışa çıktı" target="_blank">
                    <span class="news-img"><img src="https://haberport.com/images/haberler/2019/05/cukur-dizisi-timsah-celil-oldu-mu-ahmet-melih-yilmaz-diziden-ayrilacak-mi.jpg" data-src="https://cdn-amk.sozcu.com.tr/amk-resimler/2019/05/iecrop/skor-manset-kurtarildi-9_16_9_1557913036-390x216.jpg" class="lazyload" title="Kritik Trabzonspor Beşiktaş maçı biletleri satışa çıktı" style="width:360px"></span>
                </a>
                <div class="news-meta clearfix">
                    <b>SPOR</b>
                </div>
                <div class="news-title medium-title"><h3>Zorlu mücadelenin biletleri satışa çıktı!</h3></div>
            </div>
        </div>
    </div>*@



