@model IEnumerable<Entity.Yazarlar>

<div class="col-sm-3">
    <div class="list-group-item" style="border-style:groove;background-color:antiquewhite">
        <header style="font-size:large"><b>Yazarlar</b></header>
        <ul class="list-group" style="border-style:none;background-color:azure">
            @foreach (var item in Model)
            {
                <li class="list-group-item" style="background-color:azure">

                    <a href="~/Views/Magazin/Index.cshtml">
                        <img src="@item.ResimURL" style="width:50px;height:50px">
                    </a>

                    <h4>@item.AdiSoyadi</h4>
                </li>
            }
        </ul>
    </div>
</div>




