@model Entity.Haberler
@{
    ViewBag.Title = "HaberIcerik";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-sm-8">
        <div class="page-header">
            <h1>@Model.Baslik</h1>
            <div class="media-body">
                <img src="@Model.ResimURL" />
            </div>
            <h3>@Model.Ozet</h3>
        </div>

        <div class="text-center">@Model.Detay</div>
    </div>
    <div class="col-sm-4"></div>
</div>


