@using HaberinOlsun.BusinessLayer
@using HaberinOlsun.Entity

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Haberin Olsun</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
</head>
<body>
    @{
        KategoriManager kategoriManager = new KategoriManager();
        List<Kategori> kategoriler = kategoriManager.GetKategori();
    }
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="/Home/Index">HaberinOlsun</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                @foreach (Kategori item in kategoriler)
                {
                    <li class="nav-item active">
                        <a class="nav-link" href="/Kategori/Haber/@item.ID">@item.Adi</a>
                    </li>
                }
            </ul>
        </div>
    </nav>
    <br />

    @RenderBody()

    <hr />

    <footer class="py-4 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">Tüm Hakları Saklıdır. &copy; Haberin Olsun @DateTime.Now.Year</p>
        </div>
    </footer>

    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>