
@{
	ViewBag.Title = "AnaSayfa";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("~/Views/PartialView/BannerPartialView.cshtml")

<!-- ##### Mag Posts Area Start ##### -->
<section class="mag-posts-area d-flex flex-wrap">
	<!-- >>>>>>>>>>>>>>>>>>>>
	 orta kısım sol bölüm
	<<<<<<<<<<<<<<<<<<<<< -->

	@Html.Partial("~/Views/PartialView/KoseYazilarPartialView.cshtml")

	<!-- >>>>>>>>>>>>>>>>>>>>
		orta kısım orta bölüm
	<<<<<<<<<<<<<<<<<<<<< -->

	<div class="mag-posts-content mt-30 mb-30 p-30 box-shadow">
		
		<!-- Trending Now Posts Area -->
		<div class="trending-now-posts mb-30">
			<script type="text/javascript">
				var exchanges = "dolar,euro,sterlin,eur-usd,altin";
				var bg1 = "#6D2D6A";
				var bg2 = "#562A69";
				var titles = "#fffff";
				var parity = "#4183A8";
				var width = "550";
			</script>
			<script type="text/javascript" charset="iso-8859-9" src="https://finansmerkezi.net/assets/js/exchange-box.js"></script>
		</div>

	</div>
	<!-- >>>>>>>>>>>>>>>>>>>>
	 orta kısım sağ bölümm
	<<<<<<<<<<<<<<<<<<<<< -->
	@Html.Partial("~/Views/PartialView/SonDakikaPartialView.cshtml")
</section>
<!-- ##### Mag Posts Area End ##### -->
