@using HaberinOlsun.Entity
@model List<KoseYazilari>

@{
	ViewBag.Title = "KoseYazıları";
	Layout = "~/Views/Shared/_Layout.cshtml";
}


@Html.Partial("~/Views/PartialView/BannerPartialView.cshtml")
<section class="mag-posts-area d-flex flex-wrap">
	@Html.Partial("~/Views/PartialView/KoseYazilarPartialView.cshtml")

	
	<div class="mag-posts-content mt-30 mb-30 p-30 box-shadow">

		@foreach (KoseYazilari item in Model)
		{
			
				<div>
					<div>
						<span>@item.Ozet</span>
					</div>
				</div>
				
		
		}
	</div>
	@Html.Partial("~/Views/PartialView/SonDakikaPartialView.cshtml")
</section>



